@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  color: #333;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.btn:hover {
  transform: scale(1.1);
  background-color: rgb(231, 127, 127);
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.container .header {
  font-size: 3.3rem;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.nav {
  display: flex;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 4.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 3rem;
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.nav .l-nav .l-list {
  display: flex;
}
.nav .l-nav .l-item {
  padding: 1.2rem;
  font-size: 1.2rem;
}
.nav .l-nav .l-item .menu-item {
  position: relative;
}
.nav .l-nav .l-item .sub-menu.show-menu {
  left: 0;
}
.nav .l-nav .l-item .sub-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 35vw;
  background-color: #fff;
  border: 1px solid black;
  opacity: 0.9;
  transition: 0.7s ease-in-out;
}
.nav .l-nav .l-item .sub-menu .menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 3rem;
  padding-top: 5rem;
}
.nav .l-nav .l-item .sub-menu .menu-list li {
  padding: 1rem;
}
.nav .l-nav .l-item .sub-menu .menu-list li a {
  font-size: 1.5rem;
}
.nav .l-nav .l-item .sub-menu .menu-list li a:hover {
  color: crimson;
}
.nav .l-nav .l-item .sub-menu .menu-list .close {
  color: crimson;
  cursor: pointer;
}
.nav .r-nav {
  padding-right: 2rem;
}
.nav .r-nav .r-list {
  display: flex;
}
.nav .r-nav .r-item {
  padding: 1.2rem;
  padding-left: 4rem;
  font-size: 1.2rem;
}
.nav .header-text {
  color: black;
  font-size: 1.6rem;
}
.nav .header-text span {
  color: crimson;
  text-transform: lowercase;
}

.show-menu {
  left: 0;
}

main {
  height: 100vh;
  background: url(/ASSETS/IMG/home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding-top: 9rem;
}

.home .home-container {
  margin-left: 50%;
  margin-top: 17%;
  position: relative;
  animation: scaleUpDown 3s linear infinite;
}
.home .home-container h2 {
  font-size: 4rem;
  font-weight: bolder;
  color: #333;
  font-optical-sizing: auto;
  background-color: #fff;
  font-family: "Orbitron", sans-serif;
  border-radius: 50px;
  border-bottom-left-radius: 0px;
  line-height: 5.5rem;
  padding-left: 2rem;
}
.home .home-container h2 span {
  color: #bab631;
}
.home .home-container .btn-home {
  background-color: crimson;
  color: #fff;
  box-shadow: 8px 0px 0px #43d892;
  font-size: 1.7rem;
  padding: 1.2rem;
  border-bottom-left-radius: 30px;
}

.category-card {
  position: relative;
  width: 100%;
}
.category-card img {
  height: 100%;
  transition: 0.3s ease;
}
.category-card img:hover {
  transform: scale(1.03);
}
.category-info {
  position: absolute;
  bottom: 10rem;
  left: 26%;
  justify-content: center;
}
.category-info .btn {
  font-size: 1.2rem;
}
.category-title {
  color: #fff;
  text-align: center;
}

.gallery {
  padding: 5%;
  padding: 5%;
  padding-top: 5rem;
  background-color: aliceblue;
}
.gallery .section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}
.gallery-container {
  display: flex;
  position: relative;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-card {
  background: #fff;
  border-radius: 0.5rem;
  border: 0.3rem solid rgba(219, 37, 37, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  text-align: center;
  transition: 0.3s linear;
}
.gallery-card img {
  height: 20rem;
  width: 100%;
  transition: 0.3s ease;
}
.gallery-card img:hover {
  transform: scale(0.9);
}
.gallery-card h2 {
  font-size: 2rem;
  color: #333;
  padding-top: 0.8rem;
}
.gallery-card p {
  font-size: 2rem;
  color: #333;
  padding: 0.7rem 0;
}

.arrivals {
  background-color: #fff;
  margin-top: 2rem;
  padding-top: 2rem;
}
.arrivals .section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}
.arrivals-container {
  display: flex;
  margin-top: 3rem;
  padding-top: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.arrivals-container .items {
  margin-left: 1.3rem;
  border: 0.2rem solid crimson;
  border-radius: 3rem;
  margin-top: 1rem;
  position: relative;
  width: 300px;
  overflow: hidden;
}
.arrivals-container .items:hover .bth {
  bottom: 30%;
}
.arrivals-container .items img {
  width: 100%;
}
.arrivals-container .items .info {
  text-align: center;
  padding-top: 1rem;
}
.arrivals-container .items .bth {
  position: absolute;
  bottom: -100%;
  left: 30%;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #c91d1d;
  color: #333;
  transition: 0.5s;
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-50px);
  }
}